*,
*::after,
*::before {
  box-sizing: border-box;
}
.container {
  border: 1px solid black;
  background-color: burlywood;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  /* position: fixed; */
}
.avatar-wrapper {
  position: relative;
  padding: 150px;
  border: 1px dashed red;
}

.avatar-item {
  position: absolute;
  border: 1px dashed black;
  transform-origin: center;
  transform: translate(-50%, -50%);
}

.category-box {
  border: 1px solid blue;
}

.prop-item {
  border: 0.5px solid black;
  border-radius: 5px;
  margin-left: 5px;
  padding: 3px;
}
#body {
  z-index: 0;
}

#layer_2 {
  z-index: 2;
}
#layer_3 {
  z-index: 3;
}
#earrings,
#glasses,
#hats,
#neckwear {
  z-index: 4;
}

#eyebrows,
#eyes,
#facial_hair,
#hair,
#mouths,
#noses,
#layer1 {
  z-index: 1;
}
